.hOPE2HAND {
  margin-block-start: 0;
  margin-block-end: 0;
}
.bERLINP {
  margin: 0;
}
.hOPE2HANDBERLINH1 {
  margin: 0;
  font-weight: 800;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.accomodationH4,
.fINDButton,
.translationH4 {
  font-weight: 700;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.fINDButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 50px;
  font-family: Montserrat;
  color: #f5f3ed;
  text-align: left;
  width: 158px;
  height: 55px;
}
.fINDButton:hover {
  color: #908db9;
}
.accomodationH4,
.translationH4 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  width: 162.2px;
  height: 20px;
}
.translationH4 {
  width: 130.41px;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
}
.medicalServicesH4,
.socialServicesH4 {
  margin: 0;
  font-weight: 700;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 186.89px;
  height: 20px;
  flex-shrink: 0;
}
.socialServicesH4 {
  width: 159px;
}
.searchHeadersArticle,
.searchOptionsDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
}
.searchHeadersArticle {
  align-items: center;
  justify-content: center;
  gap: 14px;
  text-align: left;
  font-size: 16px;
  color: #f5f3ed;
  font-family: Montserrat;
}
.heroSection,
.heroSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heroSection1 {
  height: 549px;
  flex-shrink: 0;
  padding: 57px 0;
  box-sizing: border-box;
  align-items: center;
  gap: 106px;
  background-image: url(../../public/herosection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 80px;
  color: rgba(245, 234, 205, 0.58);
  font-family: Montserrat;
}
.heroSection {
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  .searchHeadersArticle {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .hOPE2HANDBERLINH1 {
    font-size: 60px;
  }
  .frameDiv {
    flex-direction: column;
  }
}
@media screen and (max-width: 428px) {
  .hOPE2HANDBERLINH1 {
    font-size: 40px;
  }
}
