.legalMentionPrivacyPolici {
  margin: 0;
  font-weight: 700;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
.hope2HandHoldsAndReservesA1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blankLineSpan {
  font-weight: 600;
}
.blankLineP {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 30px;
}
.hope2HandLastModifiedJul {
  margin: 0;
  font-size: 26px;
}
.hope2HandHoldsAndReservesA {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 44px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
}
.frameDiv,
.legalMentionSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.frameDiv {
  padding: 90px 111px 106px 75px;
  justify-content: flex-start;
  gap: 27px;
}
.legalMentionSection {
  padding: 49px 80px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #706b5d;
  font-family: Montserrat;
}
