.bgImageIcon,
.profileSymbolIcon {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bgImageIcon {
  margin: 0 !important;
  width: 100%;
  right: 0;
  border-radius: 16px 16px 0 0;
  max-width: 100%;
  height: 384px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.profileSymbolIcon {
  width: 70px;
  height: 70px;
}
.freeMedicalServices,
.listedLabel {
  position: absolute;
  top: 9px;
  left: 97px;
  font-weight: 500;
  display: inline-block;
  width: 88px;
  height: 23px;
}
.freeMedicalServices {
  margin: 0;
  font-weight: 700;
  top: 28px;
  font-size: 16px;
  font-family: inherit;
  width: 155px;
  height: 36px;
}
.hostInfoDiv,
.sliderIndicatorsIcon {
  position: relative;
  width: 252px;
  height: 70px;
  flex-shrink: 0;
  overflow: hidden;
}
.sliderIndicatorsIcon {
  width: 55px;
  height: 10px;
}
.hostInfoSectionDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}
.serviceTitleSectionArticle {
  align-self: stretch;
  border-radius: 16px 16px 0 0;
  background-color: #ead49c;
  height: 384px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 36px 26px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 10px;
  text-align: left;
  font-size: 12px;
  color: #484848;
  font-family: Montserrat;
}
.clinicumServantesH5,
.smartStrasseBerlinDE {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 453px;
  height: 24px;
}
.clinicumServantesH5 {
  font-weight: 500;
  top: -4px;
  font-size: inherit;
  font-family: inherit;
}
.smartStrasseBerlinDE {
  top: 25px;
  font-size: 16px;
  color: #9a9a9a;
}
.propertyTitlesDiv {
  align-self: stretch;
  position: relative;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
}
.div,
.div1 {
  position: absolute;
  top: 0;
  left: 32.13px;
  font-weight: 600;
  display: inline-block;
  width: 15px;
  height: 23px;
}
.div1 {
  left: 90.13px;
}
.bedIcon,
.vectorIcon {
  position: absolute;
  height: 82.61%;
  width: 11.9%;
  top: 4.35%;
  right: 48.94%;
  bottom: 13.04%;
  left: 39.16%;
  max-width: 100%;
  max-height: 100%;
}
.bedIcon {
  height: 75%;
  width: 14.29%;
  top: 8.7%;
  right: 85.71%;
  bottom: 16.3%;
  left: 0;
  overflow: hidden;
}
.propertyInfoArticle {
  position: relative;
  width: 161px;
  height: 23px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #484848;
  font-family: Montserrat;
}
.propertyLargeSection,
.serviceDetailsSectionArticle {
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.serviceDetailsSectionArticle {
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  height: 174px;
  flex-shrink: 0;
  padding: 30px 26px;
  gap: 16px;
  text-align: left;
  font-size: 25px;
  color: #484848;
  font-family: Montserrat;
}
.propertyLargeSection {
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(194, 198, 204, 0.6);
  border: 1px solid rgba(194, 198, 204, 0.6);
  position: relative;
}
